Repository ArneBinder/pytorch-ie: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, mypy

.pre-commit-config.yaml:

repos:
    - repo: local
      hooks:
          - id: black
            name: black
            entry: black
            language: system
            types: [python]
            require_serial: true

          - id: check-added-large-files
            name: Check for added large files
            entry: check-added-large-files
            language: system

          - id: check-toml
            name: Check Toml
            entry: check-toml
            language: system
            types: [toml]

          - id: check-yaml
            name: Check Yaml
            entry: check-yaml
            language: system
            types: [yaml]

          - id: end-of-file-fixer
            name: Fix End of Files
            entry: end-of-file-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]

          - id: isort
            name: isort
            entry: isort
            require_serial: true
            language: system
            types_or: [cython, pyi, python]
            args: ["--filter-files"]

          - id: pyupgrade
            name: pyupgrade
            description: Automatically upgrade syntax for newer versions.
            entry: pyupgrade
            language: system
            types: [python]
            args: [--py38-plus]

          - id: trailing-whitespace
            name: Trim Trailing Whitespace
            entry: trailing-whitespace-fixer
            language: system
            types: [text]
            stages: [commit, push, manual]

          - id: mypy
            name: Type check with MyPy
            entry: mypy
            language: system
            require_serial: true
            types: [python]
            args: ["--config=pyproject.toml"]

    - repo: https://github.com/pre-commit/mirrors-prettier
      rev: v2.5.1
      hooks:
          - id: prettier
            types_or: [yaml, json, toml, markdown]
            args: ["--print-width=99"]

adjust dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

add tests
  tests/conftest.py
  tests/models/__init__.py
  tests/models/base_models/__init__.py
  tests/models/base_models/test_bart_as_pointer_network.py
  tests/models/base_models/test_bart_with_decoder_position_ids.py
  tests/models/components/__init__.py
  tests/models/components/test_pointer_head.py
  tests/models/components/test_pooler.py
  tests/models/components/test_seq2seq_encoder.py
  tests/models/test_sequence_classification_with_pooler.py
  tests/models/test_sequence_pair_similarity_model_with_pooler.py
  tests/models/test_simple_generative.py
  tests/models/test_simple_sequence_classification.py
  tests/models/test_simple_token_classification.py
  tests/models/test_token_classification_with_seq2seq_encoder_and_crf.py
  tests/taskmodules/common/__init__.py
  tests/taskmodules/common/test_interfaces.py
  tests/taskmodules/common/test_mixins.py
  tests/taskmodules/common/test_taskmodule_with_document_converter.py
  tests/taskmodules/common/test_utils.py
  tests/taskmodules/metrics/__init__.py
  tests/taskmodules/metrics/test_precision_recall_and_f1_for_labeled_annotations.py
  tests/taskmodules/metrics/test_wrapped_layer_metrics_with_unbatch_and_decode_with_errors_function.py
  tests/taskmodules/metrics/test_wrapped_metric_with_prepare_function.py
  tests/taskmodules/pointer_network/__init__.py
  tests/taskmodules/pointer_network/test_annotation_encoder_decoder.py
  tests/taskmodules/pointer_network/test_logits_processor.py
  tests/taskmodules/test_labeled_span_extraction_by_token_classification.py
  tests/taskmodules/test_pointer_network_for_end2end_re.py
  tests/taskmodules/test_re_text_classification_with_indices.py
  tests/taskmodules/test_text2text.py
  tests/taskmodules/test_text2text_with_guidance.py
  tests/utils/test_document_tokenize.py
Due: black, pyupgrade, mypy

fix document_type s
  src/pytorch_ie/taskmodules/pointer_network_for_end2end_re.py
Due: black, pyupgrade, mypy

set test score for fixtures document_dataset and documents to "module"
  tests/conftest.py
Due: black, pyupgrade, mypy

update lock file
  poetry.lock
Due: none

add CrossTextBinaryCorefTaskModule
  src/pytorch_ie/taskmodules/__init__.py
  src/pytorch_ie/taskmodules/cross_text_binary_coref.py
  tests/fixtures/taskmodules/cross_text_binary_coref/documents_with_negatives.json
  tests/taskmodules/test_cross_text_binary_coref.py
Due: black, pyupgrade, mypy

remove unused packages
  poetry.lock
  pyproject.toml
Due: check-toml

use torchmetrics[text]
  poetry.lock
  pyproject.toml
Due: check-toml

increase codecov thresholds
  codecov.yml
Due: check-yaml

change `#type: ignore[assignment]` and `#type: ignore[return-value]` to use assertions to check the expected types
  src/pytorch_ie/models/base_models/bart_with_decoder_position_ids.py
  src/pytorch_ie/models/components/pointer_head.py
  src/pytorch_ie/models/sequence_classification_with_pooler.py
  src/pytorch_ie/models/simple_generative.py
  src/pytorch_ie/models/simple_sequence_classification.py
  src/pytorch_ie/models/simple_token_classification.py
  src/pytorch_ie/models/token_classification_with_seq2seq_encoder_and_crf.py
  src/pytorch_ie/taskmodules/common/utils.py
  src/pytorch_ie/taskmodules/metrics/common.py
  src/pytorch_ie/taskmodules/metrics/precision_recall_and_f1_for_labeled_annotations.py
Due: black, pyupgrade, mypy

just fix spelling to trigger ci
  tests/pipeline/test_re_text_classification.py
Due: black, pyupgrade, mypy

increase tolerance in test_re_text_classification
  tests/pipeline/test_re_text_classification.py
Due: black, pyupgrade, mypy

fix RE tests (#504)
  tests/pipeline/test_re_text_classification.py
Due: black, pyupgrade, mypy

make a copy to ensure original documents are not modified in non-inplace mode
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

fix `test_pipeline_with_documents` (#505)
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

adjust README.md
  README.md
Due: none

register all models `@pie_core.Model` (#503)
  README.md
  examples/predict/ner_span_classification.py
  examples/predict/re_generative.py
  examples/predict/re_text_classification.py
  src/pytorch_ie/__init__.py
  src/pytorch_ie/auto.py
  src/pytorch_ie/model.py
  src/pytorch_ie/models/sequence_classification_with_pooler.py
  src/pytorch_ie/models/simple_generative.py
  src/pytorch_ie/models/simple_sequence_classification.py
  src/pytorch_ie/models/simple_token_classification.py
  src/pytorch_ie/models/token_classification_with_seq2seq_encoder_and_crf.py
  src/pytorch_ie/models/transformer_seq2seq.py
  src/pytorch_ie/models/transformer_span_classification.py
  src/pytorch_ie/models/transformer_text_classification.py
  src/pytorch_ie/models/transformer_token_classification.py
  src/pytorch_ie/pipeline.py
  tests/pipeline/test_ner_span_classification.py
  tests/pipeline/test_re_generative.py
  tests/pipeline/test_re_text_classification.py
  tests/test_auto.py
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

temporarily make test_pipeline_with_documents not slow to run it in PR CI
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

temporarily make test_pipeline_with_document not slow to run it together with test_pipeline_with_documents in PR CI
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

make a copy to ensure original documents are not modified in non-inplace mode also in test_pipeline_with_document
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

ensure that predictions are empty before passing to the pipeline
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

make tests slow again
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

fix failing test `test_pipeline_with_documents` (#506)
  tests/test_pipeline.py
Due: black, pyupgrade, mypy

prepare code, tests and docs for removal of backwards compatibility
  README.md
  examples/predict/ner_span_classification.py
  examples/predict/re_generative.py
  examples/predict/re_text_classification.py
  src/pytorch_ie/taskmodules/transformer_re_text_classification.py
  src/pytorch_ie/utils/span.py
  tests/pipeline/test_ner_span_classification.py
  tests/pipeline/test_re_generative.py
  tests/pipeline/test_re_text_classification.py
  tests/taskmodules/test_simple_transformer_text_classification.py
  tests/taskmodules/test_transformer_seq2seq.py
  tests/taskmodules/test_transformer_span_classification.py
  tests/taskmodules/test_transformer_token_classification.py
  tests/test_auto.py
  tests/test_pipeline.py
  tests/utils/test_document.py
Due: black, pyupgrade, mypy

remove backwards compatibility (#507)
  README.md
  examples/predict/ner_span_classification.py
  examples/predict/re_generative.py
  examples/predict/re_text_classification.py
  src/pytorch_ie/__init__.py
  src/pytorch_ie/annotations.py
  src/pytorch_ie/auto.py
  src/pytorch_ie/core/__init__.py
  src/pytorch_ie/documents.py
  src/pytorch_ie/metrics/__init__.py
  src/pytorch_ie/model.py
  src/pytorch_ie/taskmodules/transformer_re_text_classification.py
  src/pytorch_ie/utils/hydra.py
  src/pytorch_ie/utils/span.py
  tests/pipeline/test_ner_span_classification.py
  tests/pipeline/test_re_generative.py
  tests/pipeline/test_re_text_classification.py
  tests/taskmodules/test_simple_transformer_text_classification.py
  tests/taskmodules/test_transformer_seq2seq.py
  tests/taskmodules/test_transformer_span_classification.py
  tests/taskmodules/test_transformer_token_classification.py
  tests/test_auto.py
  tests/test_pipeline.py
  tests/utils/test_document.py
Due: black, pyupgrade, mypy

update urls in pyproject.toml
  pyproject.toml
Due: check-toml

update license
  LICENSE
Due: none

Update urls and license (#508)
  LICENSE
  pyproject.toml
Due: check-toml

fix example in README.md
  README.md
Due: none

fix example in README.md (#509)
  README.md
Due: none

release 0.33.0
  pyproject.toml
Due: check-toml

release 0.33.0 (#510)
  pyproject.toml
Due: check-toml
