Repository ArneBinder/pytorch-ie: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, check-toml, check-yaml, pyupgrade, mypy

black:
  name: black
  entry: black
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py38-plus

mypy:
  name: Type check with MyPy
  entry: mypy
  language: system
  require_serial: true
  args:
  - --config=pyproject.toml

derive PyTorchIEPipeline from pie_core.AnnotationPipeline
  src/pytorch_ie/pipeline.py
Due: black, pyupgrade, mypy

use pie-core from branch again
  pyproject.toml
Due: check-toml

poetry lock
  poetry.lock
Due: none

use pie-core release 0.2.1
  poetry.lock
  pyproject.toml
Due: check-toml

adjust todo
  src/pytorch_ie/pipeline.py
Due: black, pyupgrade, mypy

derive `PyTorchIEPipeline` from `pie_core.AnnotationPipeline` (#475)
  poetry.lock
  pyproject.toml
  src/pytorch_ie/pipeline.py
Due: black, check-toml, pyupgrade, mypy

outsource encode_documents() from PieDataModule.setup()
  src/pytorch_ie/datamodule.py
Due: black, pyupgrade, mypy

outsource `encode_documents()` from `PieDataModule.setup()` (#490)
  src/pytorch_ie/datamodule.py
Due: black, pyupgrade, mypy

use TaskEncodingDataset from .dataset (instead of deprecated version from pie-core)
  src/pytorch_ie/pipeline.py
Due: black, pyupgrade, mypy

use `TaskEncodingDataset` from local `dataset` module (#491)
  src/pytorch_ie/pipeline.py
Due: black, pyupgrade, mypy

fix and improve github release.yml workflow
  .github/workflows/release.yml
Due: check-yaml

fix and improve github `release.yml` workflow (#492)
  .github/workflows/release.yml
Due: check-yaml

release 0.31.11
  pyproject.toml
Due: check-toml

release 0.31.11 (#494)
  pyproject.toml
Due: check-toml

allow pi-core 0.3.0 and update lock file to that version
  poetry.lock
  pyproject.toml
Due: check-toml

allow `pie-core 0.3.0` and update lock file to that version (#493)
  poetry.lock
  pyproject.toml
Due: check-toml

remove fsspec constraint from dependencies, see https://github.com/ArneBinder/pie-datasets/pull/198
  pyproject.toml
Due: check-toml

update lock file
  poetry.lock
Due: none

remove `fsspec` constraint from dependencies (#495)
  poetry.lock
  pyproject.toml
Due: check-toml

release 0.32.0
  pyproject.toml
Due: check-toml

release 0.32.0 (#496)
  pyproject.toml
Due: check-toml

use pie-modules from branch `remove-pytorch_ie` (https://github.com/ArneBinder/pie-modules/pull/187)
  poetry.lock
  pyproject.toml
Due: check-toml

re-export annotations and documents from pie-modules
  src/pytorch_ie/annotations.py
  src/pytorch_ie/documents.py
Due: black, pyupgrade, mypy

remove metrics and statistics (except TokenCountCollector), but import them from `pie-modules`; fix test_confusion_matrix
  src/pytorch_ie/metrics/__init__.py
  src/pytorch_ie/metrics/confusion_matrix.py
  src/pytorch_ie/metrics/f1.py
  src/pytorch_ie/metrics/statistics.py
  src/pytorch_ie/metrics/statistics/__init__.py
  src/pytorch_ie/metrics/statistics/token_count_collector.py
  tests/metrics/test_confusion_matrix.py
Due: black, pyupgrade, mypy

remove tests for annotations
  tests/conftest.py
  tests/test_annotations.py
Due: black, pyupgrade, mypy

minors
  src/pytorch_ie/annotations.py
  src/pytorch_ie/documents.py
Due: black, pyupgrade, mypy

remove tests for removed metrics and statistics
  tests/metrics/test_confusion_matrix.py
  tests/metrics/test_f1.py
  tests/metrics/test_statistics.py
Due: black, pyupgrade, mypy

lower codecov project target from 70% to 68%
  codecov.yml
Due: check-yaml

remove is_contained_in and has_overlap, but re-export them from pie-modules; remove empty test file
  src/pytorch_ie/utils/span.py
  tests/utils/test_span.py
Due: black, pyupgrade, mypy

minor
  src/pytorch_ie/utils/hydra.py
Due: black, pyupgrade, mypy

use pie-documents instead of pie-modules
  poetry.lock
  pyproject.toml
  src/pytorch_ie/annotations.py
  src/pytorch_ie/documents.py
  src/pytorch_ie/metrics/__init__.py
  src/pytorch_ie/metrics/statistics/__init__.py
  src/pytorch_ie/utils/span.py
Due: black, check-toml, pyupgrade, mypy

remove pandas from explizit dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

use `pie-documents` (#476)
  codecov.yml
  poetry.lock
  pyproject.toml
  src/pytorch_ie/annotations.py
  src/pytorch_ie/documents.py
  src/pytorch_ie/metrics/__init__.py
  src/pytorch_ie/metrics/confusion_matrix.py
  src/pytorch_ie/metrics/f1.py
  src/pytorch_ie/metrics/statistics.py
  src/pytorch_ie/metrics/statistics/__init__.py
  src/pytorch_ie/metrics/statistics/token_count_collector.py
  src/pytorch_ie/utils/hydra.py
  src/pytorch_ie/utils/span.py
  tests/conftest.py
  tests/metrics/test_confusion_matrix.py
  tests/metrics/test_f1.py
  tests/metrics/test_statistics.py
  tests/test_annotations.py
  tests/utils/test_span.py
Due: black, check-toml, check-yaml, pyupgrade, mypy

implement utils.document.tokenize_document (from pie_modules.document.processing)
  src/pytorch_ie/utils/document.py
  tests/utils/test_document_tokenize.py
Due: black, pyupgrade, mypy

implement `utils.document.tokenize_document` (#497)
  src/pytorch_ie/utils/document.py
  tests/utils/test_document_tokenize.py
Due: black, pyupgrade, mypy

use documents and annotations directly from pie_documents
  src/pytorch_ie/metrics/statistics/token_count_collector.py
  src/pytorch_ie/taskmodules/simple_transformer_text_classification.py
  src/pytorch_ie/taskmodules/transformer_re_text_classification.py
  src/pytorch_ie/taskmodules/transformer_seq2seq.py
  src/pytorch_ie/taskmodules/transformer_span_classification.py
  src/pytorch_ie/taskmodules/transformer_text_classification.py
  src/pytorch_ie/taskmodules/transformer_token_classification.py
  src/pytorch_ie/utils/document.py
  tests/conftest.py
Due: black, pyupgrade, mypy

move helper method _config_to_str to tests package root
  tests/__init__.py
  tests/taskmodules/test_simple_transformer_text_classification.py
  tests/taskmodules/test_transformer_re_text_classification.py
Due: black, pyupgrade, mypy

fix: use documents and annotations directly from pie_documents (#499)
  src/pytorch_ie/metrics/statistics/token_count_collector.py
  src/pytorch_ie/taskmodules/simple_transformer_text_classification.py
  src/pytorch_ie/taskmodules/transformer_re_text_classification.py
  src/pytorch_ie/taskmodules/transformer_seq2seq.py
  src/pytorch_ie/taskmodules/transformer_span_classification.py
  src/pytorch_ie/taskmodules/transformer_text_classification.py
  src/pytorch_ie/taskmodules/transformer_token_classification.py
  src/pytorch_ie/utils/document.py
  tests/__init__.py
  tests/conftest.py
  tests/taskmodules/test_simple_transformer_text_classification.py
  tests/taskmodules/test_transformer_re_text_classification.py
Due: black, pyupgrade, mypy

switch to 3.10 as min Python version
  .github/workflows/release.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

switch to `3.10` as min Python version (#500)
  .github/workflows/release.yml
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Path conditions:
  black: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  mypy: any of: \.py$
